:global(.hz-common-layout-header) {
    padding: 0 20px;
    .logo {
        height: 100%;
        float: left;
        line-height: 64px;
        font-size: 28px;
        color: #eee;
        .logoImgWrapper{
            height: 100%;
            width: 64px;
            margin-right: 15px;
            background: rgba(255, 255, 255, 0.2);
            display: inline-block;
        }
        img{
            max-height: 100%;
            vertical-align: bottom;
        }
    }

    .navMenuAndUserInfo{
        .navMenuWidgetContainer{
            float: right;
            width: 100px;
            height: 64px;
            background: red;
        }
        .userInfoDropDownIcon{
            margin-left: 20px;
        }
    }
    .menuBox{
        float: right;
        margin-right: 20px;
        .headerMenuItem{
            padding: 0;
            .navItem{
                padding: 0 20px;
                transition: all ease .4s;
                &:global(.active){
                    background: red;
                }
            }
        }
    }
    .userInfo{
        float: right;
        height: 64px;
        text-align: right;
        line-height: 64px;
        margin-left: 20px;
        .userName{
            color: #eee;
        }
    }
    
}

